<div class="row" ng-show="isShowingUserProfile">
    <div class="col-xs-12">
        <div class="box box-primary user-profile">
            <div class="box-body box-profile">
                <div class="box-tools">
                    <button type="button" class="btn btn-default" title="{{'EDIT' | translate}}"
                            ng-click="showEditProfile()">
                        <span aria-hidden="true" class="fa fa-edit"></span>
                    </button>
                </div>
                <form role="form">
                    <div class="col-sm-6">
                        <dip-image-box ng-show="isEditingProfile" id="image_box_profile"
                                       data-img-class="profile-user-img img-responsive img-circle"
                                       data-title="{{user.fullName}}{{'PROFILE_PICTURE' | translate}}"
                                       data-alt="{{user.fullName}} Profile Picture">
                        </dip-image-box>
                        <img ng-show="!isEditingProfile" alt="{{user.fullName}} Profile Picture" class="profile-user-img img-responsive img-circle"
                        ng-src="{{user.avatarUrl}}"/>
                        <h3 ng-show="!isEditingProfile" class="profile-username text-center">{{user.fullName}}</h3>
                        <div ng-show="isEditingProfile" class="form-group has-feedback" name="full-name">
                            <input type="text" class="form-control" placeholder="{{'FULL_NAME' | translate}}"
                                   ng-model="user.fullName" required>
                            <span class="glyphicon form-control-feedback"></span>
                            <div class="help-block with-errors"></div>
                        </div>
                        <p class="text-muted text-center">{{user.translateRole | translate}}</p>
                    </div>
                    <div class="col-sm-6">
                        <ul class="list-group list-group-unbordered">
                            <li class="list-group-item" title="{{'EMAIL' | translate}}">
                                <i class="fa fa-envelope"></i>
                                <p>{{user.email}}</p>
                            </li>
                            <li class="list-group-item" title="{{'PHONE' | translate}}">
                                <i ng-show="!isEditingProfile" class="fa fa-phone"></i>
                                <p ng-show="!isEditingProfile">{{user.phone}}</p>
                                <div ng-show="isEditingProfile" class="form-group has-feedback">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-phone"></i>
                                        </div>
                                        <input type="tel" class="form-control" placeholder="{{'PHONE' | translate}}"
                                               data-error="{{'ERROR_INVALID_PHONE_NUMBER' | translate}}"
                                               ng-model="user.phone" pattern="^\+?(\d+|(-\d+)|(\(\d+\)))+">
                                    </div>
                                    <span class="glyphicon form-control-feedback"></span>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </li>
                            <li class="list-group-item" title="{{'BIRTHDAY' | translate}}">
                                <i ng-show="!isEditingProfile" class="fa fa-calendar"></i>
                                <p ng-show="!isEditingProfile">{{user.birthday}}</p>
                                <div ng-show="isEditingProfile" class="form-group has-feedback">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <input type="text" class="form-control user-birthday"
                                               placeholder="{{'BIRTHDAY' | translate}}" ng-model="user.birthday">
                                    </div>
                                    <span class="glyphicon form-control-feedback"></span>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="row text-center row-button" ng-show="isEditingProfile">
                        <button type="button" class="btn btn-default" ng-click="discardChangeUser()">{{'CANCEL' |
                            translate}}
                        </button>
                        <button type="submit" class="btn btn-info" ng-click="editUser()">{{'SAVE' | translate}}
                        </button>
                    </div>
                </form>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
</div>