/migration-down-1466046631543-update-pool-policy.json
/migration-down-1466568447186-update-passes-for-hotels.json
/migration-down-1467801801585-update-hollywood-roosevelt-hotel.json
/migration-down-1467807684018-update-list-hotels-in-los-angeles.json
/migration-down-1467883156559-update-new-york-hotels.json
/migration-down-1468291291558-update-los-angeles-hotels-non-featured.json
/migrate-down-1469019327155-add-shangrila-passes.json
