<div class="row">
    <div class="col-xs-12">
        <div class="box" ng-show="isShowDataTable">
            <div class="box-header">
                <h3 class="box-title" translate="{{tableTitle}}"></h3>
                <div class="btn-group pull-right">
                    <button class="btn btn-danger dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bars"></i> <span translate="EXPORT_DATA"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a onClick="$('#dipdatatable').tableExport({type:'excel',escape:'false'});"><img
                                src='/images/icons/xls.png' width="24"/> XLS</a></li>
                        <li class="divider"></li>
                        <li><a onClick="$('#dipdatatable').tableExport({type:'csv',escape:'false'});"><img
                                src='/images/icons/csv.png' width="24"/> CSV</a></li>
                        <li><a onClick="$('#dipdatatable').tableExport({type:'txt',escape:'false'});"><img
                                src='/images/icons/txt.png' width="24"/> TXT</a></li>
                    </ul>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table id="dipdatatable" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th ng-repeat="header in headers" translate="{{header}}"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="row in rows">
                        <td ng-repeat="col in columns">
                            <div ng-if="col != 'passes'">{{getCellValue(row, col)}}</div>
                            <div ng-if="col == 'passes'">
                                <div class="dip-report-pass" ng-repeat="pass in row.passes">
                                    <span>{{pass.description}}</span><span>{{pass.price}}</span><span>x</span><span>{{pass.count}}</span>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <th ng-repeat="header in headers" translate="{{header}}"></th>
                    </tr>
                    </tfoot>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
    </div>
</div>