<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

        <!-- Sidebar user panel (optional) -->
        <div class="user-panel text-center">
            <div class="image">
                <img ng-src="{{currentUser.avatarUrl}}" class="img-circle" alt="User Image">
            </div>
            <div class="info">
                <p>{{currentUser.fullName}}</p>
                <!-- Status -->
                <a><i class="fa fa-circle text-success"></i> <span>{{currentUser.translateRole | translate}}</span></a>
            </div>
        </div>

        <!-- search form (Optional) -->
        <form action="#" method="get" class="sidebar-form" ng-show="false">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="{{'SEARCH' | translate}}">
                <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
            </div>
        </form>
        <!-- /.search form -->

        <!-- Sidebar Menu -->
        <ul class="sidebar-menu">
            <!-- Optionally, you can add icons to the links -->
            <!--<li ng-show="userHasRole([ROLE_ADMIN, ROLE_PARTNER])"><a ng-click="goToPath('/dashboard')"><i class="fa fa-dashboard"></i> <span-->
                    <!--translate="DASHBOARD"></span></a></li>-->
            <li ng-if="userHasRole([ROLE_PARTNER])"><a ng-click="goToPath('/properties/calendar')"><i class="fa fa-calendar"></i> <span
                    translate="DASHBOARD"></span></a></li>
            <li ng-if="userHasRole([ROLE_PARTNER])"><a ng-click="goToPath('/properties/hotels/all')"><i class="fa fa-hotel"></i> <span
                    translate="PROPERTY_PROFILE"></span></a></li>
            <li class="treeview" ng-if="userHasRole([ROLE_ADMIN])">
                <a><i class="fa fa-hotel"></i> <span translate="HOTELS"></span>
                    <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a ng-click="goToPath('/properties/hotels/all')"><i
                                class="fa fa-circle-o"></i><span translate="ALL_HOTELS"></span></a>
                    </li>
                    <li>
                        <a ng-click="goToPath('/properties/hotels/on-air')"><i
                                class="fa fa-circle-o"></i><span translate="ON_AIR_HOTELS"></span></a>
                    </li>
                    <li>
                        <a ng-click="goToPath('/properties/hotels/submission')"><i
                                class="fa fa-circle-o"></i><span translate="SUBMISSION_HOTELS"></span></a>
                    </li>
                </ul>
            </li>
            <!--<li ng-if="userHasRole([ROLE_PARTNER])"><a ng-click="goToPath('/properties/calendar')"><i class="fa fa-calendar"></i> <span-->
                    <!--translate="CALENDAR"></span></a></li>-->
            <li ng-if="userHasRole([ROLE_PARTNER])"><a ng-click="goToPath('/reports/hotel-reservations')"><i class="fa fa-table"></i> <span
                    translate="RESERVATIONS"></span></a></li>
            <li class="treeview" ng-if="userHasRole([ROLE_ADMIN])">
                <a><i class="fa fa-table"></i> <span translate="REPORTS"></span>
                    <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                </a>
                <ul class="treeview-menu">
                    <li ng-if="userHasRole([ROLE_ADMIN])">
                        <a ng-click="goToPath('/reports/users')"><i
                                class="fa fa-circle-o"></i><span translate="USERS"></span></a>
                    </li>
                    <li ng-if="userHasRole([ROLE_ADMIN, ROLE_PARTNER])">
                        <a ng-click="goToPath('/reports/event-reservations')"><i class="fa fa-circle-o"></i><span
                                translate="EVENT_RESERVATIONS"></span></a>
                    </li>
                    <li ng-if="userHasRole([ROLE_ADMIN, ROLE_PARTNER])">
                        <a ng-click="goToPath('/reports/hotel-reservations')"><i class="fa fa-circle-o"></i><span
                                translate="HOTEL_RESERVATIONS"></span></a>
                    </li>
                </ul>
            </li>
            <li ng-if="userHasRole([ROLE_PARTNER])"><a ng-click=""><i class="fa fa-envelope-o"></i> <span
                    translate="MESSAGES"></span></a></li>
            <li ng-if="userHasRole([ROLE_ADMIN])">
                <a ng-click="goToPath('/settings')"><i class="fa fa-gears"></i> <span translate="SETTINGS"></span></a>
            </li>
        </ul>
        <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</aside>