<div class="col-xs-12 hotel-header">
    <div class="row">
        <div class="col-md-8">
            <span class="lead" ng-click="goToPath('/properties/hotel/' + hotel.id)">{{hotel.name}}</span>
            <span class="label hotel-status"
                  ng-class="hotel.activeStatusClass">{{hotel.activeStatus | translate}}</span>
            <span class="label hotel-status" ng-class="hotel.submissionStatusClass"
                  ng-if="hotel.submissionStatus">{{hotel.submissionStatus | translate}}</span>
            <div class="pending-content" ng-show="hotel.hasPendingContent && hotel.pendingContent.name">
                <span class="pending-label">{{'PENDING_HOTEL_NAME' | translate}}: </span>
                <span>{{hotel.pendingContent.name}}</span>
            </div>
        </div>
        <div class="col-md-4">
            <!--<button type="button" class="btn btn-default pull-right" title="{{'EDIT' | translate}}" ng-click="showEditHotelBox(hotel)">-->
            <!--<span aria-hidden="true" class="fa fa-edit"></span>-->
            <!--</button>-->
            <!--<button type="button" class="btn btn-default pull-right" title="{{'DELETE' | translate}}" ng-click="deleteHotel(hotel)">-->
            <!--<span aria-hidden="true" class="fa fa-trash"></span>-->
            <!--</button>-->
            <div class="pull-right">
                <ng-include src="'/properties/hotels/hotel-buttons.html'"></ng-include>
                <!--<button type="button" class="btn btn-default" title="{{'SEE_DETAILS' | translate}}"-->
                        <!--ng-click="goToPath('/properties/hotel/' + hotel.id)">-->
                    <!--<span aria-hidden="true" class="fa fa-eye"></span>-->
                <!--</button>-->
            </div>
        </div>
    </div>
</div>
<dip-hotel-info-content></dip-hotel-info-content>
<div class="col-md-4" ng-if="hotel.imageUrl" ng-click="goToPath('/properties/hotel/' + hotel.id)">
    <img alt="{{hotel.name}} Profile Picture" class="img-responsive" ng-src="{{hotel.imageUrl}}"/>
</div>