<table border="0" cellpadding="0" cellspacing="0" width="600" style="background-color:#fdfdfd;border:1px solid #dcdcdc;border-radius:3px!important">
    <tbody>
        <tr>
            <td align="center" valign="top">
                <table border="0" cellpadding="0" cellspacing="0" width="600" style="background-color:#0097A7;border-radius:3px 3px 0 0!important;color:#ffffff;border-bottom:0;font-weight:bold;line-height:100%;vertical-align:middle">
                    <tbody>
                        <tr>
                            <td style="padding:36px 48px;display:block">
                                <h1 style="color:#ffffff;font-family: Helvetica,Roboto,Arial,sans-serif;font-size:30px;font-weight:300;line-height:150%;margin:0;text-align:left">Reservation Confirmation</h1>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td align="center" valign="top">
                <table border="0" cellpadding="0" cellspacing="0" width="600">
                    <tbody>
                        <tr>
                            <td valign="top" style="background-color:#fdfdfd">
                                <table border="0" cellpadding="20" cellspacing="0" width="100%">
                                    <tbody>
                                        <tr>
                                            <td valign="top" style="padding:48px">
                                                <div style="color:#737373;font-family: Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;font-size:14px;line-height:150%;text-align:left">
                                                    <p style="margin:0 0 16px">Hello {{user.firstName}}, We are pleased to inform you that your reservation request has been received and confirmed</p>
                                                    <h2 style="color:#0097A7;display:block;font-family:Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;font-size:18px;font-weight:bold;line-height:130%;margin:16px 0 8px;text-align:left">Your Order</h2>
                                                    <h4>{{hotel.name}} - {{hotel.location}}</h4>
                                                    <table cellspacing="0" cellpadding="6" style="width:100%;font-family:'Helvetica Neue',Helvetica,Roboto,Arial,sans-serif;color:#737373;border:1px solid #e4e4e4" border="1">
                                                        <tbody>
                                                            <tr>{{#services.pools}}
                                                                <tbody>
                                                                    <tr>
                                                                        <td colspan="4" style="padding:12px">
                                                                            <h4 style="margin:0">{{pool.name}}</h4></td>
                                                                    </tr>
                                                                    <tr>{{#offers}}
                                                                        <tbody>
                                                                            <tr>
                                                                                <td style="padding:12px">
                                                                                    <h2 style="margin:0;color:#0097A7;display:block;font-size:15px;line-height:130%;text-align:left">
                                                                                        {{data.description}}
                                                                                    </h2>
                                                                                </td>
                                                                                <td style="padding:12px">
                                                                                    <h2 style="margin:0;color:#0097A7;display:block;font-size:15px;line-height:130%;text-align:left">
                                                                                        From {{hour_convert data.duration.startTime}} To {{hour_convert data.duration.endTime}}, {{data.date}}
                                                                                    </h2>
                                                                                </td>
                                                                                <td style="padding:12px">
                                                                                    <h2 style="margin:0;color:#0097A7;display:block;font-size:15px;line-height:130%;text-align:left">
                                                                                        {{count}}
                                                                                    </h2>
                                                                                </td>
                                                                                <td style="padding:12px">
                                                                                    <h2 style="margin:0;color:#0097A7;display:block;font-size:15px;line-height:130%;text-align:left">
                                                                                        {{data.price}} $
                                                                                    </h2>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    {{/offers}}</tr>
                                                                </tbody>
                                                            {{/services.pools}}</tr>
                                                        </tbody>
                                                        <tfoot>
                                                            <tr>
                                                                <th scope="row" colspan="3" style="text-align:left;border-top-width:4px;color:#737373;border:1px solid #e4e4e4;padding:12px">Total:</th>
                                                                <td style="text-align:left;border-top-width:4px;color:#737373;border:1px solid #e4e4e4;padding:12px"><span>{{price}} $</span></td>
                                                            </tr>
                                                        </tfoot>
                                                    </table>
                                                    
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>