.dip-app-body {
    width: 100%;
    height: 100%;
}
a {
    cursor: pointer;
}

.dip-report-pass {
    min-width: 150px;
}
.dip-report-pass > span {
    margin: 5px;
    display: inline-block;
}
.dip-report-pass > span:first-child {
    margin-left: 0;
    width: 60px;
}
.dip-report-pass > span:nth-child(2) {
    width: 40px;
}
.dip-report-pass > span:last-child {
    margin-right: 0;
}

.content-wrapper {
    min-height: 100vh;
}

#dip-spinner .spinner {
    position: fixed !important;
}

.image-box {
    width: 100%;
    min-height: 250px;
    border: 1px solid #cccccc;
    position: relative;
}

.create-edit-box label {
    /*font-weight: 300;*/
    font-weight: 600;
}

.create-edit-box .image-box {
    margin-bottom: 10px;
    cursor: pointer;
}
.light-font, .light-font h1, .light-font h2, .light-font h3, .light-font h4, .light-font p, .light-font span {
    /*font-weight: 300;*/
}
.lead {
    font-weight: normal;
}
.box-header .btn-app {
    margin-bottom: 0;
    margin-top: 0;
}
.list-hotel .box-body > .row {
    margin-bottom: 30px;
}
.list-hotel .box-body > .row:last-child {
    margin-bottom: 0;
}
.list-hotel .lead {
    float: left;
    cursor: pointer;
}
.list-hotel .box-body button.btn.pull-right {
    margin-left: 10px;
}
.list-hotel .hotel-info {
    clear: both;
}
.list-hotel .hotel-info > .row > div:first-child {
    font-weight: 600;
}
.list-hotel .hotel-info > .row > div:last-child {
    /*font-weight: 300;*/
    text-overflow: ellipsis;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
}
.list-hotel .hotel-info > .row {
    line-height: 1.42857;
    padding-left: 15px;
}
.list-hotel .hotel-info > .row > div {
    border-top: 1px solid #f4f4f4;
    padding: 8px;
}
.list-hotel img {
    border: 1px solid #cccccc;
}

.list-hotel.hotel-profile .hotel-info > .row:first-child > div {
    border-top: none;
}

.module-header {
    margin-bottom: 10px;
}

.pass_maximum .slider-selection, .pass_capacity .slider-selection {
    background: #00c0ef none repeat scroll 0 0;
}

.pass_maximum .tooltip, .pass_maximum .tooltip {
    z-index: 10;
}

.row-button {
    padding: 10px;
}
.row-button button {
    min-width: 70px;
    margin-right: 10px;
}
.pass-box {
    margin-top: 20px;
}
.passes-row {
    height: 1px;
    border-top: 1px solid #d2d6de;
    margin: 15px 5% 0 5%;
}
.row.pass-info:last-child .passes-row {
    border: none;
}
.module-row {
    height: 1px;
    border-top: 2px solid #00c0ef;
    margin-top: 15px;
}
.row.module-info:last-child .module-row {
    border: none;
}

.box.calendar-pass {
    border: none;
    margin-bottom: 5px;
    box-shadow: none;
}
.box.calendar-pass .box-header {
    padding-bottom: 5px;
    padding-top: 5px;
    cursor: pointer;
}
.box.calendar-pass .box-header .box-title {
    font-size: 14px;
}
.box.calendar-pass .box-header .fa-angle-collapse-button {
    min-width: 20px;
}
.pass-color {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
}

.pool-pass {
    background-color: #c2185b;
    color: #c2185b;
    border-color: #c2185b;
}
.daybed {
    background-color: #0097a7;
    color: #0097a7;
    border-color: #0097a7;
}
.cabana {
    background-color: #009e11;
    color: #009e11;
    border-color: #009e11;
}
.box.calendar-pass.pass-content {
    border-bottom: 1px solid #d2d6de;
}
.box.calendar-pass > .box-header > .pass-time-period {
    display: inline-block;
    font-size: 10px;
    margin-left: 30px;
}
.box.calendar-pass > .box-body.main-box-body {
    padding-left: 20px;
}
.dip-vertical-checkbox {
    display: inline-block;
    margin: 0 8px;
}
.dip-vertical-checkbox:first-child {
    margin-left: 0;
}
.dip-vertical-checkbox span {
    display: block;
    font-size: 10px;
    text-align: center;
}
.box.calendar-pass .box-body > .row {
    margin-bottom: 15px;
}
label.time-label {
    font-size: 10px;
    padding-top: 10px;
}
.calendar-selected-day {
    padding: 20px;
    font-size: 18px;
}
.calendar-row {
    border-bottom: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    display: table;
}
.calendar-cell {
    border-left: 1px solid #cccccc;
    float: left;
    min-width: 90px;
    min-height: 90px;
    position: relative;
    padding-top: 25px;
}
.calendar-header .calendar-cell {
    border-top: 3px solid #cccccc;
    padding: 15px;
    min-height: 1px;
}
.calendar-row span.day-number {
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 10px;
}
.calendar-line {
    border-radius: 0;
    display: block;
    height: 5px;
    margin-bottom: 10px;
    width: 101%;
    margin-left: -1px;
}
.pass-calendar {

}
.pass-calendar .fc-view-container .fc-view > table {
    border-color: #cccccc;
    border-top-width: 3px;
}
.pass-calendar .fc-view-container .fc-view .fc-head-container table thead th {
    padding-top: 10px;
    padding-bottom: 10px;
    /*font-weight: 300;*/
    font-weight: normal;
}
.fc-unthemed th, .fc-unthemed td, .fc-unthemed thead, .fc-unthemed tbody, .fc-unthemed .fc-divider, .fc-unthemed .fc-row, .fc-unthemed .fc-content, .fc-unthemed .fc-popover {
    border-color: #cccccc;
}
.fc th {
    border-top-width: 3px;
}
.pass-calendar .fc-widget-header {
    background: none;
}
.pass-calendar .fc-row:first-child > table {
    border-top: 3px solid #cccccc;
}
.pass-calendar .fc-event {
    height: 5px;
    border-radius: 0;
}
.pass-calendar .fc-day-grid-event {
    margin: 0 0 5px -1px;
}
.pass-calendar .fc-toolbar h2 {
    /*font-weight: 300;*/
    font-size: 18px;
}
.pass-calendar .fc-day-number {
    font-size: 10px;
    padding: 5px;
}
.pass-calendar .fc-toolbar button {
    border-radius: 0 !important;
    box-shadow: none;
}
.fc-button {
    background-color: transparent;
    border-color: #cccccc;
}
.pass-calendar .fc-icon-left-single-arrow::after, .pass-calendar .fc-icon-right-single-arrow::after {
    font-weight: 100 !important;
    color: #ddd;
}
.pass-calendar .fc-scroller.fc-day-grid-container {
    height: auto !important;
    overflow: hidden !important;
}
.pass-calendar .fc-event-container .tooltip {
    position: fixed;
}
.pass-box .pass-tooltip-container .tooltip .tooltip-inner, .calendar-pass.pass-content .tooltip .tooltip-inner{
    background-color: #3c8dbc;
    font-size: 10px;
    white-space:pre-wrap;
}
.pass-calendar .pass-tooltip-container .tooltip .tooltip-arrow, .calendar-pass.pass-content .tooltip .tooltip-arrow {
    border-top-color: #3c8dbc;
}
.calendar-pass.pass-content .tooltip.top {
    left: 0 !important;
}
a.back-button {
    color: inherit;
    font-size: 20px;
    margin-left: -5px;
    margin-right: 5px;
    padding: 5px;
}


.row.row-grid [class*="col-"] + [class*="col-"] {
    margin-top: 15px;
}

@media (min-width: 1200px) {
    .row.row-grid [class*="col-lg-"] + [class*="col-lg-"] {
        margin-top: 0;
    }
    .list-hotel .hotel-info {
        clear: none;
    }
}
@media (min-width: 992px) {
    .row.row-grid [class*="col-md-"] + [class*="col-md-"] {
        margin-top: 0;
    }
    .list-hotel .hotel-info {
        clear: none;
    }
}
@media (min-width: 768px) {
    .row.row-grid [class*="col-sm-"] + [class*="col-sm-"] {
        margin-top: 0;
    }
}