<div class="login-box">
    <div class="login-logo">
        <img src="images/logo.png" alt="DIP logo">
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg">{{'SIGN_IN_HEADER' | translate}}</p>

        <form role="form" ng-submit="login()">
            <div class="form-group has-feedback">
                <input type="email" class="form-control" placeholder="{{'EMAIL' | translate}}" ng-model="username"
                       pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,63}$"
                       data-error="{{'ERROR_INVALID_EMAIL' | translate}}" required>
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                <div class="help-block with-errors"></div>
            </div>
            <div class="form-group has-feedback">
                <input type="password" class="form-control" placeholder="{{'PASSWORD' | translate}}" ng-model="password"
                       required>
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                <div class="help-block with-errors"></div>
            </div>
            <div class="row text-center">
                <!--<div class="col-sm-8">-->
                    <!--<div class="checkbox icheck">-->
                        <!--<label>-->
                            <!--<input type="checkbox" checked> {{'REMEMBER_ME' | translate}}-->
                        <!--</label>-->
                    <!--</div>-->
                <!--</div>-->
                <!-- /.col -->
                <div class="col-sm-8 col-xs-12">
                    <button class="btn btn-primary btn-block btn-flat">{{'SIGN_IN' | translate}}</button>
                </div>
                <!-- /.col -->
            </div>
        </form>

        <!--<div class="social-auth-links text-center">-->
        <!--<p>- OR -</p>-->
        <!--<a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Sign in using-->
        <!--Facebook</a>-->
        <!--<a href="#" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i> Sign in using-->
        <!--Google+</a>-->
        <!--</div>-->
        <!-- /.social-auth-links -->

        <a href="#">{{'FORGOT_PASSWORD' | translate}}</a><br>
        <a ng-click="goToPath('/signup')" class="text-center">{{'REGISTER_NEW_MEMBERSHIP' | translate}}</a>

    </div>
    <!-- /.login-box-body -->
</div>
<!-- /.login-box -->