<div class="row">
    <div class="col-md-4">
        <div class="box calendar-pass" ng-repeat="passType in passTypes"
             ng-show="module.passesMapByPassType[passType.value].length">
            <div class="box-header">
                <button class="btn btn-box-tool fa-angle-collapse-button"><i class="fa fa-angle-right"></i></button>
                <p class="box-title">{{passType.display}}</p>
            </div>
            <div class="box-body main-box-body collapse">
                <div class="box calendar-pass pass-content"
                     ng-repeat="pass in module.passesMapByPassType[passType.value] track by $index"
                     id="pass_calendar_content_{{pass.id}}">
                    <div class="box-header" data-html="true"
                         data-original-title="{{getDataToolTipContent(pass)}}" data-toggle="tooltip">
                        <div class="pass-color" style="background-color: {{pass.passColor}}"></div>
                        <p class="box-title">{{pass.title}}</p>
                        <span class="pass-time-period">{{pass.timePeriod}}</span>
                    </div>
                    <div class="box-body collapse">
                        <div class="row">
                            <div class="col-sm-2">
                                <label class="time-label">{{'FROM' | translate}}</label>
                            </div>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input type="text" class="form-control datepicker" data-pass-id="{{pass.id}}"
                                           ng-model="pass.displayStartDay" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">
                                <label class="time-label">{{'TO' | translate}}</label>
                            </div>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input type="text" class="form-control datepicker" data-pass-id="{{pass.id}}"
                                           ng-model="pass.displayDueDay" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-show="pass.displayStartDay && pass.displayDueDay">
                            <div class="col-xs-12">
                                <div class="dip-vertical-checkbox" ng-repeat="day in daysInWeek">
                                    <input type="checkbox" class="minimal" data-day="{{day.value}}"
                                           data-pass-id="{{pass.id}}"
                                           ng-checked="pass.days.indexOf(day.value) > -1">
                                    <span>{{day.display}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <!--<div class="row">-->
        <!--<div class="col-md-1">-->
        <!--<label class="time-label">{{'FROM' | translate}}</label>-->
        <!--</div>-->
        <!--<div class="col-md-3">-->
        <!--<div class="input-group">-->
        <!--<div class="input-group-addon">-->
        <!--<i class="fa fa-calendar"></i>-->
        <!--</div>-->
        <!--<input type="text" class="form-control datepicker">-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="col-md-1">-->
        <!--<label class="time-label">{{'TO' | translate}}</label>-->
        <!--</div>-->
        <!--<div class="col-md-3">-->
        <!--<div class="input-group">-->
        <!--<div class="input-group-addon">-->
        <!--<i class="fa fa-calendar"></i>-->
        <!--</div>-->
        <!--<input type="text" class="form-control datepicker">-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <div class="row">
            <div class="col-xs-12">
                <div class="pass-calendar"></div>
            </div>
        </div>
        <!--<div class="row">-->
        <!--<div class="col-xs-12 text-center calendar-selected-day">-->
        <!--<p class="light-font">{{displaySelectedDay()}}</p>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="row">-->
        <!--<div class="col-xs-12">-->
        <!--<div class="calendar-row calendar-header">-->
        <!--<div class="calendar-cell text-center" ng-repeat="day in daysInWeek">-->
        <!--<span class="light-font">{{day.displayFull}}</span>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="calendar-row" ng-repeat="row in [0, 1, 2, 3, 4]">-->
        <!--<div class="calendar-cell text-center" ng-repeat="day in daysInWeek">-->
        <!--<span class="light-font day-number">{{day.value + 7 * row}}</span>-->
        <!--<div class="calendar-line pass-color" ng-repeat="pass in module.passes"-->
        <!--ng-class="getPassColorClass(pass.passType)"></div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
    </div>
</div>
<div ng-init="initPassCalendar('#pass_calendar_' + module.id)" ng-show="false"></div>