<div class="box-body pass-tooltip-container" id="calendar_full_modules">
    <div class="row">
        <div class="col-md-4 left-side-bar">
            <div class="box calendar-pass">
                <div class="box-header module-name">
                    <p class="box-title">{{'ADD_MODULE' | translate}}</p>
                    <div class="pull-right">
                        <button class="btn btn-box-tool fa-angle-collapse-button"><i class="fa fa-plus"></i></button>
                    </div>
                </div>
                <div class="box-body main-box-body collapse">
                    <form role="form" dip-smart-validate-form name="create-module" class="form-horizontal">
                        <ng-include src="'/properties/hotel/module-form-content-small.html'"></ng-include>
                        <div class="col-xs-12">
                            <div class="text-center row-button">
                                <button type="button" class="btn btn-default" ng-click="hideCreateModuleBox(); initCreateModulePanel();">{{'CANCEL' | translate}}</button>
                                <button type="submit" class="btn btn-info">{{'ADD' | translate}}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="box calendar-pass" ng-if="isShowingHotelProfile" ng-repeat="module in modules">
                <div class="box-header module-name">
                    <p class="box-title">{{module.name}}</p>
                    <div class="pull-right">
                        <button class="btn btn-box-tool fa-angle-collapse-button"><i class="fa fa-angle-down"></i></button>
                    </div>
                </div>
                <div class="box-body main-box-body collapse in">
                    <div class="box calendar-pass module-info" ng-class="module.passes.length > 0 ? 'has-pass' : ''">
                        <div class="box-header" ng-click="module.isShowingDetails = !module.isShowingDetails">
                            <div class="left-header" ng-click="module.isAddingPass = !module.isAddingPass; $event.stopPropagation();">
                                <button type="button" class="btn btn-no-bg">
                                    <span aria-hidden="true" class="fa fa-plus"></span>
                                </button>
                                <p class="box-title" ng-show="!module.isAddingPass">{{'ADD_PASS' | translate}}</p>
                                <p class="box-title" ng-show="module.isAddingPass">{{'HIDE_ADD_PASS' | translate}}</p>
                            </div>
                            <div class="pull-right">
                                <button type="button" class="btn btn-no-bg" title="{{'DELETE' | translate}}"
                                        ng-if="userHasRole([ROLE_PARTNER])" ng-click="deleteModule(module); $event.stopPropagation();">
                                    <span aria-hidden="true" class="fa fa-trash"></span>
                                </button>
                                <p class="box-title" ng-show="!module.isShowingDetails">{{'SHOW_AMENITY_DETAILS' | translate}}</p>
                                <p class="box-title" ng-show="module.isShowingDetails">{{'HIDE_AMENITY_DETAILS' | translate}}</p>
                            </div>
                        </div>
                        <div class="box-body main-box-body collapse" ng-class="::initClassForModuleInfoCollapse(module)">
                            <form role="form" dip-smart-validate-form name="edit-module" id="module_form_{{module.id}}" class="form-horizontal">
                                <ng-include src="'/properties/hotel/module-form-content-small.html'"></ng-include>
                                <div class="col-xs-12">
                                    <div class="text-center row-button" ng-show="module.isEditingModuleInfo">
                                        <button type="button" class="btn btn-default" ng-click="discardChangeModule(module)">{{'CANCEL' | translate}}</button>
                                        <button type="submit" class="btn btn-info" ng-click="editModule(module, $event)">{{'SAVE' | translate}}</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="box calendar-pass pass-content" ng-repeat="pass in [module.newPass]" ng-show="module.isAddingPass">
                        <div class="box-body main-box-body" ng-repeat="pass in [module.newPass]" ng-show="module.isAddingPass" id="new_pass_{{module.id}}">
                            <form role="form" dip-smart-validate-form name="create-pass" class="form-horizontal">
                                <ng-include src="'/properties/hotel/pass-form-content-small.html'"></ng-include>
                                <div class="col-xs-12">
                                    <div class="text-center row-button">
                                        <button type="button" class="btn btn-default" ng-click="hideCreatePassBox(module)">{{'CANCEL' | translate}}</button>
                                        <button type="submit" class="btn btn-info" ng-click="createPass(pass, module, $event)">{{'ADD' | translate}}</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="box calendar-pass pass-content" ng-repeat="pass in module.passes track by $index"
                         id="pass_calendar_content_{{pass.id}}">
                        <div class="box-header" data-html="true"
                             data-original-title="{{getDataToolTipContent(pass)}}" data-toggle="tooltip">
                            <div class="pass-color" style="background-color: {{pass.passColor}}"></div>
                            <p class="box-title">{{pass.title}}</p>
                            <span class="pass-time-period">{{pass.timePeriod}}</span>
                        </div>
                        <div class="box-body collapse in">
                            <div class="row">
                                <div class="col-md-2 col-sm-2 col-xs-2">
                                    <label class="time-label">{{'FROM' | translate}}</label>
                                </div>
                                <div class="col-md-8 col-sm-6 col-xs-10">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <input type="text" class="form-control datepicker" data-pass-id="{{pass.id}}"
                                               ng-model="pass.displayStartDay" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2 col-sm-2 col-xs-2">
                                    <label class="time-label">{{'TO' | translate}}</label>
                                </div>
                                <div class="col-md-8 col-sm-6 col-xs-10">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <input type="text" class="form-control datepicker" data-pass-id="{{pass.id}}"
                                               ng-model="pass.displayDueDay" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="row" ng-show="pass.displayStartDay && pass.displayDueDay">
                                <div class="col-xs-12">
                                    <div class="dip-vertical-checkbox" ng-repeat="day in daysInWeek">
                                        <input type="checkbox" class="minimal" data-day="{{day.value}}"
                                               data-pass-id="{{pass.id}}"
                                               ng-checked="pass.days.indexOf(day.value) > -1">
                                        <span>{{day.display}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="box calendar-pass module-info pass-info">
                                <div class="box-header" ng-click="pass.isShowingDetails = !pass.isShowingDetails">
                                    <div class="pull-right">
                                        <button type="button" class="btn btn-no-bg" title="{{'DELETE' | translate}}"
                                                ng-if="userHasRole([ROLE_PARTNER])" ng-click="deletePass(pass); $event.stopPropagation();">
                                            <span aria-hidden="true" class="fa fa-trash"></span>
                                        </button>
                                        <p class="box-title" ng-show="!pass.isShowingDetails">{{'SHOW_PASS_DETAILS' | translate}}</p>
                                        <p class="box-title" ng-show="pass.isShowingDetails">{{'HIDE_PASS_DETAILS' | translate}}</p>
                                    </div>
                                </div>
                                <div class="box-body main-box-body collapse" id="pass_{{pass.id}}">
                                    <form role="form" dip-smart-validate-form name="edit-pass" class="form-horizontal">
                                        <ng-include src="'/properties/hotel/pass-form-content-small.html'"></ng-include>
                                        <div class="col-xs-12">
                                            <div class="text-center row-button" ng-show="pass.isEditingPassInfo">
                                                <button type="button" class="btn btn-default" ng-click="discardChangePass(pass)">{{'CANCEL' | translate}}</button>
                                                <button type="submit" class="btn btn-info" ng-click="editPass(pass, module, $event)">{{'SAVE' | translate}}</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-xs-12">
                    <div class="pass-calendar"></div>
                </div>
            </div>
        </div>
    </div>
</div>