<form role="form" dip-smart-validate-form name="create-pass">
    <ng-include src="'/properties/hotel/pass-form-content.html'"></ng-include>
    <div class="row text-center row-button">
        <button type="button" class="btn btn-default" ng-click="hideCreatePassBox(module)">{{'CANCEL' | translate}}</button>
        <button type="submit" class="btn btn-info" ng-click="createPass(pass, module, $event)">{{'ADD' | translate}}</button>
    </div>
</form>
<div class="col-xs-12 text-center">
    <div class="passes-row"></div>
</div>