<div class="box box-info list-hotel hotel-profile" ng-show="isShowingHotelProfile">
    <div class="box-header with-border">
        <a class="back-button" ng-click="goToPath('/properties/hotels')" title="{{'GO_BACK' | translate}}">
            <i class="fa fa-angle-left"></i>
        </a>
        <h3 class="box-title">{{'HOTEL' | translate}}</h3>
        <div class="pull-right" ng-show="!isEditingHotel">
            <ng-include src="'/properties/hotels/hotel-buttons.html'"></ng-include>
            <button type="button" class="btn btn-default" title="{{'EDIT' | translate}}"
                    ng-if="userHasRole([ROLE_PARTNER]) && hotel.submissionStatus != 'HOTEL_STATUS_PENDING'"
                    ng-click="showEditHotelBox(hotel)">
                <span aria-hidden="true" class="fa fa-edit"></span>
            </button>
            <button type="button" class="btn btn-default" title="{{'DELETE' | translate}}"
                    ng-if="userHasRole([ROLE_PARTNER]) && hotel.submissionStatus != 'HOTEL_STATUS_PENDING'"
                    ng-click="deleteHotel(hotel)">
                <span aria-hidden="true" class="fa fa-trash"></span>
            </button>
            <!--<button data-widget="collapse" class="btn btn-box-tool"><i class="fa fa-angle-down"></i></button>-->
        </div>
    </div>
    <div class="box-body">
        <form role="form" dip-smart-validate-form name="edit-hotel">
            <div class="row" ng-show="!isEditingHotel">
                <dip-hotel-info-content></dip-hotel-info-content>
                <div class="col-md-4" ng-show="hotel.imageUrl">
                    <img alt="{{hotel.name}} Profile Picture" class="img-responsive" ng-src="{{hotel.imageUrl}}"/>
                </div>
            </div>
            <div class="row create-edit-box" ng-show="isEditingHotel">
                <ng-include src="'/properties/hotels/hotel-form-content.html'"></ng-include>
            </div>
            <div class="text-center row-button" ng-show="isEditingHotel">
                <button type="button" class="btn btn-default" ng-click="cancelEditHotel()">{{'CANCEL' | translate}}
                </button>
                <button type="submit" class="btn btn-info">{{'SAVE' | translate}}</button>
            </div>
        </form>
        <ng-include src="'/properties/hotel/list-module.html'"></ng-include>
    </div>
</div>