<div class="box box-info list-hotel hotel-profile" ng-show="isShowingHotelProfile">
    <div class="box-header with-border">
        <a class="back-button" ng-click="goToPath('/properties/hotels')" title="{{'GO_BACK' | translate}}">
            <i class="fa fa-angle-left"></i>
        </a>
        <h3 class="box-title">{{'HOTEL' | translate}}</h3>
        <div class="pull-right" ng-show="!isEditingHotel">
            <button type="button" class="btn btn-default" title="{{'EDIT' | translate}}"
                    ng-click="showEditHotelBox(hotel)">
                <span aria-hidden="true" class="fa fa-edit"></span>
            </button>
            <button type="button" class="btn btn-default" title="{{'DELETE' | translate}}"
                    ng-click="deleteHotel(hotel)">
                <span aria-hidden="true" class="fa fa-trash"></span>
            </button>
            <!--<button data-widget="collapse" class="btn btn-box-tool"><i class="fa fa-angle-down"></i></button>-->
        </div>
    </div>
    <div class="box-body">
        <form role="form" dip-smart-validate-form name="edit-hotel">
            <div class="row" ng-show="!isEditingHotel">
                <div class="col-md-8 hotel-info">
                    <div class="row" ng-if="hotel.name">
                        <div class="col-md-4">{{'HOTEL_NAME' | translate}}</div>
                        <div class="col-md-8">{{hotel.name}}</div>
                    </div>
                    <div class="row" ng-if="hotel.fullAddress">
                        <div class="col-md-4">{{'ADDRESS' | translate}}</div>
                        <div class="col-md-8">{{hotel.fullAddress}}</div>
                    </div>
                    <div class="row" ng-if="hotel.address.neighborhood">
                        <div class="col-md-4">{{'NEIGHBORHOOD' | translate}}</div>
                        <div class="col-md-8">{{hotel.address.neighborhood}}</div>
                    </div>
                    <div class="row" ng-if="hotel.address.city">
                        <div class="col-md-4">{{'CITY' | translate}}</div>
                        <div class="col-md-8">{{hotel.address.city}}</div>
                    </div>
                    <div class="row" ng-if="hotel.phone">
                        <div class="col-md-4">{{'FRONT_DESK' | translate}}</div>
                        <div class="col-md-8">{{hotel.phone}}</div>
                    </div>
                    <div class="row" ng-if="hotel.roomService">
                        <div class="col-md-4">{{'ROOM_SERVICE' | translate}}</div>
                        <div class="col-md-8">{{hotel.roomService}}</div>
                    </div>
                    <div class="row" ng-if="hotel.url">
                        <div class="col-md-4">{{'WEBSITE' | translate}}</div>
                        <div class="col-md-8"><a href="{{hotel.url}}" target="_blank">{{hotel.url}}</a></div>
                    </div>
                    <div class="row" ng-if="hotel.instagramUrl">
                        <div class="col-md-4">{{'INSTAGRAM' | translate}}</div>
                        <div class="col-md-8"><a href="{{hotel.instagramUrl}}" target="_blank">{{hotel.instagram}}</a></div>
                    </div>
                </div>
                <div class="col-md-4" ng-if="hotel.imageUrl">
                    <img alt="{{hotel.name}} Profile Picture" class="img-responsive" ng-src="{{hotel.imageUrl}}"/>
                </div>
            </div>
            <div class="row create-edit-box" ng-show="isEditingHotel">
                <ng-include src="'/properties/hotels/hotel-form-content.html'"></ng-include>
            </div>
            <div class="text-center row-button" ng-show="isEditingHotel">
                <button type="button" class="btn btn-default" ng-click="cancelEditHotel()">{{'CANCEL' | translate}}</button>
                <button type="submit" class="btn btn-info">{{'SAVE' | translate}}</button>
            </div>
        </form>
        <ng-include src="'/properties/hotel/list-module.html'"></ng-include>
    </div>
</div>