<div class="box box-info list-hotel hotel-profile" ng-show="isShowingHotelProfile">
    <div class="box-header with-border">
        <h3 class="box-title">{{'LIST_MODULES' | translate }}</h3>
        <div class="pull-right">
            <a class="btn btn-app" ng-show="!isShowingCreateModule" ng-click="showCreateModuleBox()">
                <i class="fa fa-plus"></i> {{'CREATE_NEW' | translate}}
            </a>
        </div>
    </div>
    <div class="box-body">
        <div class="row module-info" ng-repeat="module in hotel.services">
            <div ng-show="!module.isEditingModuleInfo">
                <ng-include src="'/properties/hotel/module-info.html'"></ng-include>
            </div>
            <div class="create-edit-box" ng-show="module.isEditingModuleInfo">
                <form>
                    <ng-include src="'/properties/hotel/module-form-content.html'"></ng-include>
                    <div class="text-center row-button">
                        <button type="button" class="btn btn-default" ng-click="discardChangeModule(module)">{{'CANCEL' | translate}}</button>
                        <button type="submit" class="btn btn-info" ng-click="editModule(module)">{{'SAVE' | translate}}</button>
                    </div>
                </form>
            </div>
            <div class="col-xs-12" ng-show="(module.passes && module.passes.length > 0) || module.isAddingPass">
                <ng-include src="'/properties/hotel/passes.html'"></ng-include>
            </div>
            <div class="col-xs-12 text-center">
                <div class="module-row"></div>
            </div>
        </div>
    </div>
    <!--<div class="box-footer text-center row-button">-->
    <!--<button type="button" class="btn btn-default" ng-click="">{{'PREVIOUS' | translate}}</button>-->
    <!--<button type="button" class="btn btn-info" ng-click="">{{'NEXT' | translate}}</button>-->
    <!--</div>-->
</div>