<div class="col-md-12 module-header" ng-show="!module.isAddingPass">
    <div class="pull-right">
        <button type="button" class="btn btn-default" title="{{'EDIT' | translate}}"
                ng-if="userHasRole([ROLE_PARTNER])" ng-click="showEditModuleBox(module, $event)">
            <span aria-hidden="true" class="fa fa-edit"></span>
        </button>
        <button type="button" class="btn btn-default" title="{{'DELETE' | translate}}"
                ng-if="userHasRole([ROLE_PARTNER])" ng-click="deleteModule(module)">
            <span aria-hidden="true" class="fa fa-trash"></span>
        </button>
    </div>
</div>
<div class="col-md-8 hotel-info">
    <div class="row" ng-if="module.name">
        <div class="col-md-4">{{'MODULE_NAME' | translate}}</div>
        <div class="col-md-8">{{module.name}}</div>
    </div>
    <div class="row" ng-if="module.poolTypeDisplay" ng-show="false">
        <div class="col-md-4">{{'TYPE' | translate}}</div>
        <div class="col-md-8">{{module.poolTypeDisplay}}</div>
    </div>
</div>
<div class="col-md-4" ng-if="module.imageUrl">
    <img alt="{{module.name}} Profile Picture" class="img-responsive" ng-src="{{module.imageUrl}}"/>
</div>