<div class="col-md-8">
    <div class="form-group">
        <label class="control-label">{{'MODULE_NAME' | translate}}</label>
        <input type="text" required class="form-control" ng-model="module.name"
               placeholder="{{'MODULE_NAME' | translate}}">
    </div>
    <div class="form-group" ng-show="false">
        <label class="control-label">{{'TYPE' | translate}}</label>
        <select class="form-control select2" style="width: 100%;" ng-model="module.poolType">
            <option ng-if="poolTypes.length > 0" ng-repeat="poolType in poolTypes" value="{{poolType.value}}">{{poolType.display}}</option>
        </select>
    </div>
</div>
<div class="col-md-4">
    <dip-image-box ng-if="!module.id" class="form-group" id="image_box_module"
                   data-title="{{'PROFILE_PICTURE' | translate}}"
                   data-alt="Module Profile Picture"></dip-image-box>

    <dip-image-box ng-if="module.id" class="form-group" id="image_box_module_{{module.id}}"
                   data-title="{{'PROFILE_PICTURE' | translate}}"
                   data-alt="{{module.name}} Profile Picture"></dip-image-box>
</div>