<div class="col-xs-12">
    <div class="form-group has-feedback">
        <label class="col-xs-4 control-label">{{'TITLE' | translate}}</label>
        <div class="col-xs-8">
            <input type="text" required class="form-control" ng-model="module.name"
                   placeholder="{{'TITLE' | translate}}">
            <span class="glyphicon form-control-feedback"></span>
            <div class="help-block with-errors"></div>
        </div>
    </div>
    <div class="form-group has-feedback">
        <label class="col-xs-4 control-label">{{'AMENITY_TYPE' | translate}}</label>
        <div class="col-xs-8">
            <ui-select reset-search-input="true" ng-model="module.type" theme="bootstrap"
                       on-select="amenityTypeSelected(module)" ng-disabled="module.id ? true : false">
                <ui-select-match placeholder="{{'SELECT_TYPE' | translate}}">{{$select.selected.display}}</ui-select-match>
                <ui-select-choices repeat="amenityType.value as amenityType in amenityTypes | filter: $select.search">
                    <div ng-bind-html="amenityType.display | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
            <input type="text" required class="form-control" ng-model="module.type" ng-show="false"
                   placeholder="{{'SELECT_TYPE' | translate}}">
            <span class="glyphicon form-control-feedback"></span>
            <div class="help-block with-errors"></div>
        </div>
    </div>
    <div class="form-group has-feedback">
        <label class="col-xs-4 control-label">{{'DESCRIPTION_TAG' | translate}}</label>
        <div class="col-xs-8">
            <ui-select multiple tagging reset-search-input="true" tagging-label="(custom 'new' label)"
                       ng-model="module.tags" theme="bootstrap" sortable="true" style="width: 100%;"
                       title="{{'DESCRIPTION_TAG' | translate}}"
                       on-select="module.isEditingModuleInfo = true" on-remove="module.isEditingModuleInfo = true">
                <ui-select-match placeholder="{{'DESCRIPTION_TAG' | translate}}">{{$item}}</ui-select-match>
                <ui-select-choices repeat="tag in module.amenityTags | filter:$select.search">
                    {{tag}}
                </ui-select-choices>
            </ui-select>
            <span class="glyphicon form-control-feedback"></span>
            <div class="help-block with-errors"></div>
        </div>
    </div>
</div>
<div class="col-xs-12">
    <dip-image-box ng-if="!module.id" class="form-group" id="image_box_module"
                   data-title="{{'PROFILE_PICTURE' | translate}}"
                   data-alt="Module Profile Picture"></dip-image-box>

    <dip-image-box ng-if="module.id" class="form-group" id="image_box_module_{{module.id}}"
                   data-title="{{'PROFILE_PICTURE' | translate}}"
                   data-alt="{{module.name}} Profile Picture" data-image-url="{{module.imageUrl}}"></dip-image-box>
</div>