<div class="col-xs-12 module-header">
    <div class="pull-right">
        <button type="button" class="btn btn-default" title="{{'EDIT' | translate}}"
                ng-if="userHasRole([ROLE_PARTNER])" ng-click="showEditPassBox(pass)">
            <span aria-hidden="true" class="fa fa-edit"></span>
        </button>
        <button type="button" class="btn btn-default" title="{{'DELETE' | translate}}"
                ng-if="userHasRole([ROLE_PARTNER])" ng-click="deletePass(pass)">
            <span aria-hidden="true" class="fa fa-trash"></span>
        </button>
    </div>
</div>
<div class="col-md-6 hotel-info">
    <div class="row">
        <div class="col-md-4">{{'PASS_TYPE' | translate}}</div>
        <div class="col-md-8">{{pass.passType}}</div>
    </div>
    <div class="row">
        <div class="col-md-4">{{'PASS_TITLE' | translate}}</div>
        <div class="col-md-8">{{pass.title}}</div>
    </div>
    <div class="row">
        <div class="col-md-4">{{'POOL_TITLE' | translate}}</div>
        <div class="col-md-8">{{module.name}}</div>
    </div>
</div>
<div class="col-md-6 hotel-info">
    <div class="row">
        <div class="col-md-4">{{'TIME_PERIOD' | translate}}</div>
        <div class="col-md-8">{{pass.timePeriod}}</div>
    </div>
    <div class="row">
        <div class="col-md-4">{{'MAXIMUM_PASSES' | translate}}</div>
        <div class="col-md-8">{{pass.allotmentCount}}</div>
    </div>
    <div class="row">
        <div class="col-md-4">{{'CAPACITY' | translate}}</div>
        <div class="col-md-8">{{pass.capacity}}</div>
    </div>
    <div class="row">
        <div class="col-md-4">{{'PRICE' | translate}}</div>
        <div class="col-md-8">{{pass.displayPrice}}</div>
    </div>
</div>